name: flutter_radio_player
description: Flutter radio plugin handles a single streaming audio preciously.
version: 1.0.6
author: Sithira Munasinghe <sithiraac@gmail.com>
homepage: https://github.com/Sithira/FlutterRadioPlayer

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: me.sithiramunasinghe.flutter.flutter_radio_player
    pluginClass: FlutterRadioPlayerPlugin
