<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sithiramunasinghe.flutter.flutter_radio_player">

    <!--  Permissions for the plugin  -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--  Services for the plugin  -->
    <application android:usesCleartextTraffic="true">
        <service android:name=".core.StreamingCore"/>
    </application>
</manifest>

